# Maven target folder
target/

# IntelliJ / Eclipse files
.idea/
*.iml
.classpath
.project
.settings/

# Logs
*.log
*.logs

# Extent reports (optional - depends on you)
test-output/
extent-reports/

# OS files
.DS_Store